@import "~hint.css/hint.min.css";
@import "~office-ui-fabric-react/dist/css/fabric.min.css";
@import "./fonts/lato/font.scss";

:root {
  --bg-color: #fdfdfd;
  --light-default: #ffffff;
  --light-text: #333333;
  --light-blue: #2F80ED;
  --light-line: #ebebeb;
  --light-line2: #cccccc;
}

::-webkit {
  &-scrollbar {
    width: 7px;
    height: 7px;
  }

  &-scrollbar-button {
    width: 0px;
    height: 0px;
  }

  &-scrollbar-thumb {
    background: var(--light-line2);
    border: 0px none var(--light-line);
    border-radius: 50px;
  }

  &-scrollbar-track {
    background: var(--light-default);
    border: 0px none var(--light-line);
    border-radius: 50px;
  }

  &-scrollbar-corner {
    background: transparent;
  }
}

html {
  background: var(--bg-color);
}

body {
  margin: 0px;
  padding: 0px;
  font-family: 'Lato';
  font-size: 14px;
}

a, button {
  cursor: default !important;
}

.root-32 {
  font-family: 'Lato';
}

.ms-Pivot {
  button:first-child {
    margin-left: 0;
    padding-left: 0;

    &:before {
      left: 0;
    }
  }
}
